<section>
    <h2>Introduction</h2>

<!--    <a href="https://bit.ly/2ZkAuvc" target="_blank" rel="noopener noreferrer">-->
<!--        How much coding skill do you need for automation?-->
<!--    </a>-->
</section>

<section>
    <h3>Who am I?</h3>
</section>

<section>
    <h3>Who are you?</h3>

    <aside class="notes">
        <ul>
            <li>Introduce yourself</li>
            <li>Who is your client and what do you do</li>
            <li>What programming experience do you have (do you know Java, OOP)</li>
            <li>What do you want to take away from this workshop</li>
        </ul>
    </aside>
</section>
