<section>
    <h2>Agenda</h2>
</section>

<section>
    <h2>4 days</h2>

    <h3>16:00 till 19:30</h3>
    <h3>Break 17:30 with food</h3>
</section>

<section>
    <h2>Day 1: Theory + exercises</h2>

    <ul>
        <li>Introduction</li>
        <li>Object Oriented programming</li>
        <li>Introduction to clean code</li>
        <li>Unit testing</li>
    </ul>
</section>

<section>
    <h2>Day 2: Theory + exercises</h2>

    <ul>
        <li>Refactoring exercise</li>
        <li>SOLID principles</li>
        <li>Patterns</li>
    </ul>
</section>

<section>
    <h2>Day 3+4: Building an application</h2>
    <h5>Possible: TDD - Test Driven Development</h5>
</section>
