<section>
    <h2>Module 3</h2>
    <h3>Introduction to clean code</h3>
</section>

<section>
    <h2>Topics</h2>
    <ul>
        <li>Meaningful names</li>
        <li>Functions</li>
        <li>Comments</li>
        <li>Formatting</li>
        <li>Objects & data structures</li>
        <li>Error handling</li>
        <li>Classes</li>
        <li>General rules/tips</li>
    </ul>
</section>

<section>
    <h3>Meaningful names</h3>
</section>

<section>
    <h3>Use meaningful, readable variable names</h3>

    <pre><code class="language-java hljs" data-noescape>
    int d;
    // elapsed time in days
    int ds;
    int dsm;
    int faid;
    </code></pre>
</section>

<section>
    <h3>Use meaningful, readable variable names</h3>

    <pre><code class="language-java hljs" data-noescape>
    int elapsedTimeInDays;
    int daysSinceCreation;
    int daysSinceModification;
    int fileAgeInDays;
    </code></pre>
</section>

<section>
    <h4>Use Intention Revealing Names</h4>
    <pre><code class="language-java hljs" data-noescape>
    public List&lt;int[]&gt; getThem() {
        var list1 = new ArrayList&lt;int[]&gt;();

        for (var x : theList)
            if (x[0] == 4)
                list1.add(x);

        return list1;
    }
    </code></pre>
</section>

<section>
    <h4>Use Intention Revealing Names</h4>
    <pre><code class="language-java hljs" data-noescape>
    public List&lt;int[]&gt; getFlaggedCells() {
        var flaggedCells = new ArrayList&lt;int[]&gt;();

        for (var cell : gameBoard)
            if (cell[STATUS_VALUE] == FLAGGED)
                flaggedCells.add(cell);

        return flaggedCells;
    }
    </code></pre>
</section>

<section>
    <h4>Searchable Names</h4>
    <pre><code class="language-java hljs" data-noescape>
    int d;
    int e;
    int x;
    int z;
    </code></pre>
</section>

<section>
    <h4>Favor Readability over brevity</h4>
    <br/>
    <p><b><em>CanScrollHorizontally</em></b> is better than <b><em>ScrollableX.</em></b></p>
</section>


<section>
    <h4>Favor no Abbreviations!</h4>
    <br/>
    <a href="https://gist.github.com/klaaspieter/12cd68f54bb71a3940eae5cdd4ea1764">Acronyms Seriously Suck</a>
</section>

<section>
    <h4>Don't be cute</h4>
    <p>Funny names remain understandable only as long as you and the people who share the joke stay on the project.</p>
</section>

<section>
    <h4>Classes</h4>
    <p>
        "Classes and objects should have noun or noun phrase names like Customer, WikiPage,
        Account, and AddressParser. Avoid words like Manager, Processor, Data, or Info in the name
        of a class. A class name should not be a verb."
    </p>
    <p>
        Clean code - Uncle Bob
    </p>
</section>

<section>
    <h4>Methods</h4>
    <p>
        Methods should have verb (phrase) naming. Accessors, mutators and predicates should start with get, set or is.
    </p>
</section>

<section>
    <h4>Smart constructors</h4>
    <p>
        Use smart constructors when overloading the constructor.
    </p>
    <p>
    <pre><code class="language-java hljs" data-noescape>
    Complex fulcrumPoint = Complex.fromRealNumber(23.0);

    Complex fulcrumPoint = new Complex(23.0);
        </code></pre>
    </p>
</section>

<section>
    <h1>Functions</h1>

    <ul>
        <li>Small</li>
        <li>Do one thing</li>
        <li>Have explanatory names</li>
    </ul>
</section>

<section>
    <h2>Not to many arguments</h2>

    <p>
        If your function has to many arguments, they most
        like are connected and should be wrapped in an object
    </p>

    <aside class="notes">
        <ul>
            <li>It also will tell the relation between arguments.</li>
            <li>It also will tell the relation between objects.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Not to many arguments</h2>

    <pre><code class="language-java hljs" data-noescape>
  public void save(String name, String age, String jobTitle, LocalDate birthDay) { ... }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>It also will tell the relation between arguments.</li>
            <li>It also will tell the relation between objects.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Not to many arguments</h2>

    <pre><code class="language-java hljs" data-noescape>
    public void save(Employee employee) { ... }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>It also will tell the relation between arguments.</li>
            <li>It also will tell the relation between objects.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Command query Separation</h2>

    <pre><code class="language-java hljs" data-noescape>
    public boolean set(String attribute, String value);
    </code></pre>

    <pre><code class="language-java hljs" data-noescape>
    public boolean set(String attribute, String value);

    if (set("username", "unclebob"))
    </code></pre>

    <pre><code class="language-java hljs" data-noescape>
    if (attributeExists("username")) {
        setAttribute("username", "unclebob");
    }
    </code></pre>

</section>

<section>
    <h1>Comments</h1>
</section>

<section>
    <h2>Comments are last resort</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    // Check to see if the employee
    //    is eligible for full benefits
    if ((employee.flags == HOURLY_FLAG) && (employee.age > 65))
    </code></pre>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    if (employee.isEligibleForFullBenefits())
    </code></pre>


    <aside class="notes">
        <ul>
            <li>Comments do not make up for bad code, they often lie.</li>
            <li>For that reason, prefer readable code instead of comments</li>
        </ul>
    </aside>

</section>

<section>
    <h2>Function / Variables > Comments</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    // does the module from the global list depend on the
    // subsystem we are part of?

    if (module.getDependSubsystems()
          .contains(subSysMod.getSubSystem()))
    </code></pre>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    var moduleDependencies = module.getDependSubsystems();
    var ourSubSystem = subSysMod.getSubSystem();
    if (moduleDependencies.contains(ourSubSystem))
    </code></pre>

    <aside class="notes">
        <ul>
            <li>Another example where we can use proper naming and variables / functions to have the same readability as
                the comment
            </li>
        </ul>
    </aside>

</section>

<section>
    <h2>Comments will lie</h2>

    <aside class="notes">
        <ul>
            <li>Comments will lie at a certain point of time because there is no correlation between the code and the
                comment.
            </li>
            <li>Whenever you refactor, there is no guarantee that you also change the comment which will result in lying
                comments
            </li>
        </ul>
    </aside>

</section>

<section>
    <h2>Redundant / Noisy comments</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    /** The name. */
    private String name;

    /** The version. */
    private String version;

    /** The licenceName. */
    private String licenceName;

    /** The info. */
    private String info;
    </code></pre>

    <aside class="notes">
        <ul>
            <li>These comments do add nothing, only noise</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Don't return null</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public void registerItem(Item item) {
        if (item != null) {
            var registry = peristentStore.getItemRegistry();
            if (registry != null) {
                var existing = registry.getItem(item.getID());
                if (existing.getBillingPeriod().hasRetailOwner()) {
                    existing.register(item); }
                }
            }
        }
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>Do you spot the mistake? What if getItem returns null? Because of all the null checks we declutter the
                code
            </li>
            <li>A missing null check can result in the application to halt (NullPointerException)</li>
            <li>Prefer exceptions or Special Case object instead.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Don't return null</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    var employees = getEmployees();
    if (employees != null) {
        for(var e : employees) {
            totalPay += e.getPay();
        }
    }
    </code></pre>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>    // Get employees
    public List<Employee> getEmployees() {
        if (no employees) {
            return Collections.emptyList();
        }
    }

    for(var e : getEmployees()) {
        totalPay += e.getPay();
    }</code></pre>

</section>

<section>
    <h2>Use optional as typesafe null alternative</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public void registerItem(Item item) {
        persistentStore.getItemRegistry()
            .flatMap(registry ->
                       registry.getItem(item.getID()))

            .flatMap(existing -> {
                if (existing.getBillingPeriod().hasRetailOwner()) {
                    return existing.register(item);
                }
            });
    }
    </code></pre>

</section>

<section>
    <h2>Don't pass null</h2>

    <aside class="notes">
        <ul>
            <li>If we allow nulls in function, it means that everywhere in our code the argument list needs to be
                checked by null
            </li>
        </ul>
    </aside>
</section>

<section>
    <h3>General Tips/Rules</h3>
</section>

<section>
    <h2>Avoid Negation</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    // No no order applicable and does not have no user data?
    if (!noOrderApplicable && !hasNoUserData) { }

    // Aaah
    if (orderApplicable && hasUserData) {}
    </code></pre>
</section>

<section>
    <h2>DRY - Don't repeat yourself</h2>
    <p class="fragment fade-in">But! Better to have duplication that a bad abstraction</p>
    <p class="fragment fade-in">Try to abstract code only there is duplication of <b>3</b></p>
</section>

<section>
    <h2>Essential simplicity</h2>
    <p>Don't make it if you are not going to use it</p>
    <p>Don't be clever</p>
</section>

<section>
    <h2>Gilded Rose Refactoring kata</h2>

    <ul>
        <li class="fragment fade-in">Go to exercises/cleancode-gilded-rose-kata</li>
        <li class="fragment fade-in">Run mvn clean install to see if you get the project to run (1 test fail)</li>
        <li class="fragment fade-in"> Write unit tests to ensure the application works as you would expect</li>
        <li class="fragment fade-in">Start refactoring by applying the clean code rules (and more)</li>
    </ul>
</section>
