<section>
    <h2>Module 5</h2>
    <h3>Software patterns</h3>
</section>

<section>
    <h2>Software patterns</h2>

    <ul>
        <li>Introduction</li>
        <li class="fragment fade-in">Adapter</li>
        <li class="fragment fade-in">Decorator</li>
        <li class="fragment fade-in">Factory</li>
    </ul>
</section>

<section>
    <p>General reusable solution to a commonly occurring problem in software design.</p>
</section>
<section>
    <h2>Adapter Pattern</h2>
    <p>
        "Adapter is a structural design pattern that allows objects with incompatible interfaces to collaborate." -
        https://refactoring.guru/design-patterns/adapter
    </p>
</section>
<section>
    <h2>Adapter pattern</h2>

    <img src="img/adapter.png" alt="UML diagram adapter pattern">
</section>

<section>
    <h2>Adapter pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public interface Fighter {
        void attack();
        void defend();
        void escape();
    }
    </code></pre>
</section>

<section>
    <h2>Adapter pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class Wizard {
        public void castDestructionSpell() {
            System.out.println("destruction spell");
        }
        public void shield() {
            System.out.println("shield");
        }
        public void portal() {
            System.out.println("portal");
        }
    }
    </code></pre>
</section>

<section>
    <h2>Adapter pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class WizardAdapter implements Fighter {
        private final Wizard wizard;

        public WizardAdapter(Wizard wizard) {
            this.wizard = wizard;
        }
        public void attack() { wizard.castDestructionSpell(); }
        public void defend() { wizard.shield(); }
        public void escape() { wizard.portal(); }
    }
    </code></pre>
</section>

<section>
    <h2>Adapter pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public void doSomething(Fighter fighter) { ... }
    </code></pre>

    <pre><code class="language-java hljs" data-noescape>
    var wizard = new Wizard();
    doSomething(new WizardAdapter(wizard));
    </code></pre>
</section>

<section>
    <h2>Decorator pattern</h2>
    <p>
        Decorator is a structural design pattern that lets you attach new behaviors to objects by placing these objects
        inside special wrapper objects that contain the behaviors.
    </p>
</section>

<section>
    <h2>Decorator pattern</h2>

    <ul>
        <li>When you want to attach extra behavior / state to objects at runtime without breaking the code that uses
            it
        </li>
        <li>When it's not possible to extends an objects behavior using inheritance</li>
    </ul>
</section>

<section>
    <h2>Decorator pattern</h2>

    <img src="img/decorator.png" alt="Decorator pattern example" height="500">
</section>

<section>
    <h2>Decorator pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public interface DataSource {
        void writeData(String data);

        String readData();
    }
    </code></pre>
</section>

<section>
    <h2>Decorator pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class FileDataSource implements DataSource {
        private String name;

        public FileDataSource(String name) {
            this.name = name;
        }

        @Override
        public void writeData(String data) { ... }

        @Override
        public String readData() { ... }
    }
    </code></pre>
</section>

<section>
    <h3>Decorator pattern</h3>

    <pre style="height: 500px;"><code class="language-java hljs" data-noescape>
    public class DataSourceDecorator implements DataSource {
        private DataSource wrappee;

        DataSourceDecorator(DataSource source) {
            this.wrappee = source;
        }

        @Override
        public void writeData(String data) {
            wrappee.writeData(data);
        }

        @Override
        public String readData() {
            return wrappee.readData();
        }
    }
    </code></pre>
</section>

<section>
    <h3>Decorator pattern</h3>

    <pre style="height: 500px"><code class="language-java hljs" data-noescape>
    public class EncryptionDecorator extends DataSourceDecorator {

        public EncryptionDecorator(DataSource source) {
            super(source);
        }

        @Override
        public void writeData(String data) {
            super.writeData(encode(data));
        }

        @Override
        public String readData() {
            return decode(super.readData());
        }

        private String encode(String data) { ... }

        private String decode(String data) { ... }
    }
    </code></pre>
</section>

<section>
    <h3>Decorator pattern</h3>

    <pre style="height: 500px"><code class="language-java hljs" data-noescape>
    public class CompressionDecorator extends DataSourceDecorator {
        public CompressionDecorator(DataSource source) {
            super(source);
        }

        @Override
        public void writeData(String data) {
            super.writeData(compress(data));
        }

        @Override
        public String readData() {
            return decompress(super.readData());
        }

        private String compress(String stringData) { ... }

        private String decompress(String stringData) { ... }
    }
    </code></pre>
</section>

<section>
    <h2>Decorator pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    var datasource = new CompressionDecorator(
        new EncryptionDecorator(
            new FileDataSource("out/OutputDemo.txt")
        )
    );

    var uncompressedDecryptedData = dataSource.readData();
    </code></pre>
</section>


<section>
    <h2>Factory pattern</h2>

    <p class="fragment fade-in">
        "Factory Method is a creational design pattern that provides an interface for creating objects in a superclass,
        but allows subclasses to alter the type of objects that will be created." -
        "https://refactoring.guru/design-patterns/factory-method"
    </p>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public interface Button {
        void render();
        void onClick();
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class WebButton implements Button {
        public void render() {
            System.out.println("I'm a web button");
        }
        public void onClick() {
            System.out.println("You just clicked a web button");
        }
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class WindowsButton implements Button {
        public void render() {
            System.out.println("I'm a windows button");
        }
        public void onClick() {
            System.out.println(
                    "You just clicked a windows button");
        }
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public interface Dialog {
        Button createButton();

        @Default
        void renderDialog() {
            System.out.println("Rendering dialog");
            System.out.println("Rendering button: ");
            createButton().render();
        }
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class WindowsDialog extends Dialog {
        Button createButton() {
            return new WindowsButton();
        }
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class WebDialog extends Dialog {
        Button createButton() {
            return new WebButton();
        }
    }
    </code></pre>
</section>

<section>
    <h2>Factory pattern</h2>

    <pre><code class="language-java hljs" data-noescape>
    public static void main(String[] args) {
        var dialog = new WebDialog();

        dialog.renderDialog();
    }
    </code></pre>
</section>

<section>
    <h2>Gang of Four</h2>
    <div>
        <img src="https://cdn.journaldev.com/wp-content/uploads/2015/03/Design-Pattern-GoF-Book.jpg" alt="gof book"
             style="max-height: 400px"/>
    </div>
    <a href="https://refactoring.guru/design-patterns/catalog" class="fragment fade-in">https://refactoring.guru/design-patterns/catalog</a>
</section>
