<section>
    <h2>Module 4</h2>
    <h3>SOLID principles</h3>

    <aside class="notes">
        <ul>
            <li>What are the solid principles and why do we need them</li>
            <li>What are the characteristics?</li>
        </ul>
    </aside>
</section>

<section>
    <h2>The principles</h2>

    <ul>
        <li class="fragment fade-in"><b>S</b>ingle responsibility</li>
        <li class="fragment fade-in"><b>O</b>pen-closed</li>
        <li class="fragment fade-in"><b>L</b>iskov substitution principle</li>
        <li class="fragment fade-in"><b>I</b>nterface segregation</li>
        <li class="fragment fade-in"><b>D</b>ependency inversion principle</li>
    </ul>

</section>

<section>
    <h2>Single responsibility principle</h2>

    <p>
        The single-responsibility principle (SRP) is a computer-programming principle
        that states that every module or class should have responsibility over a single
        part of the functionality provided by the software, and that responsibility
        should be entirely encapsulated by the class, module or function.
    </p>

</section>

<section>
    <h3>Classical example</h3>

    <pre style="height: 500px;" class="fragment fade-in"><code class="language-java hljs" data-noescape>
    class Book {
        public String getTitle() {
            return "A Great Book";
        }

        public String getAuthor() {
            return "John Doe";
        }

        public Page turnPage() {
            // pointer to next page
        }

        public void printCurrentPage() {
            System.out.println("current page content");
        }
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>What is the problem with the current code</li>
            <li>The class has multiple actors. One could be for example a librarian.</li>
            <li>The second actor is the presentation layer. Where do we print to?</li>
            <li>Do we print to UI, console, or what</li>
            <li>In this example, we are mixing our domain code with the presentational layer</li>
        </ul>
    </aside>
</section>

<section>
    <h3>Separating the concerns</h3>

    <pre style="height: 450px"><code>
    interface Printer {
        public void printPage(Page page);
    }

    class PlainTextPrinter implements Printer {
        public void printPage(Page page) {
            System.out.println(page);
        }
    }

    class HtmlPrinter implements Printer {
        public void printPage(Page page) {
            System.out.println("<div style="single-page">"
                                  + page + "</div>");
        }
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>This example also shows how it gives us design flexibility.</li>
            <li>It also makes it very easy to add new printers.</li>
            <li>The same counts for objects that can save themself</li>
            <li>Put the responsibility of storing an object to a different class</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Structuring an application</h2>

    <img src="img/structuring-application.png" alt="Structuring your domain" />

    <aside class="notes">
        <ul>
            <li>Business logic and your domain in the middle</li>
            <li>Persistence is seperated from your domain model</li>
            <li>UI is seperated. This is nice, because now you can have multiple presentational layers.</li>
            <li>You have your core domain which define all the rules.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Open-closed principle</h2>

    <p>
        "Software entities (classes, modules, functions, etc.)
        should be <b>open</b> for extension, but <b>closed</b> for modification";
        <br />
        That is, such an entity can allow its behaviour to be extended without modifying its source code.
    </p>

    <aside class="notes">
        <p>
            In object-oriented programming, the open/closed principle states "software entities (classes, modules,
            functions, etc.)
            should be open for extension, but closed for modification";
            that is, such an entity can allow its behaviour to be extended without modifying its source code.
        </p>
    </aside>
</section>

<section>
    <h2>Open-closed principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public interface CalculatorOperation {}
    </code></pre>

</section>

<section>
    <h2>Open-closed principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public class Addition implements CalculatorOperation {
        private double left;
        private double right;
        private double result = 0.0;

        public Addition(double left, double right) {
            this.left = left;
            this.right = right;
        }

        // getters and setters
    }
    </code></pre>

</section>

<section>
    <h2>Open-closed principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public class Subtraction implements CalculatorOperation {
        private double left;
        private double right;
        private double result = 0.0;

        public Subtraction(double left, double right) {
            this.left = left;
            this.right = right;
        }

        // getters and setters
    }
    </code></pre>

</section>

<section>
    <h2>Open-closed principle</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class Calculator {

        public void calculate(CalculatorOperation operation) {
            if (operation instanceof Addition) {
                var addition = (Addition) operation;
                addition.setResult(addition.getLeft() + addition.getRight());
            } else if (operation instanceof Subtraction) {
                var subtraction = (Subtraction) operation;
                subtraction.setResult(subtraction.getLeft() - subtraction.getRight());
            }
        }
    }
    </code></pre>
</section>

<section>
    <h2>Open-closed principle</h2>

    <pre><code class="language-java hljs" data-noescape>
    public interface CalculatorOperation {
        int perform();
    }
    </code></pre>
</section>

<section>
    <h2>Open-closed principle</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class Addition implements CalculatorOperation {
        private double left;
        private double right;

        // constructor

        @Override
        public int perform() {
            return left + right;
        }
    }
    </code></pre>
</section>

<section>
    <h2>Open-closed principle</h2>

    <pre><code class="language-java hljs" data-noescape>
    public class Multiplication
          implements CalculatorOperation {

        private double left;
        private double right;

        // constructor

        @Override
        public int perform() {
            return left * right;
        }
    }
    </code></pre>
</section>

<section>
    <h2>Open-closed principle</h2>

    <pre><code class="language-java hljs" data-noescape>
    public void calculate(CalculatorOperation operation) {
        operation.perform();
    }
    </code></pre>
</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <p>
        "in a computer program, if S is a subtype of T, then objects of type T may
        be replaced with objects of type S (i.e., objects of type S may substitute
        objects of type T) without altering any of the desirable
        properties of that program (correctness, task performed, etc.)"
    </p>

</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <ul>
        <li>No new exceptions should be thrown in derived class.</li>
        <li>Preconditions cannot be strengthened in a subtype.</li>
        <li>Postconditions cannot be weakened in a subtype.</li>
        <li>Invariants of the supertype must be preserved in a subtype.</li>
        <li>Comply with the history constraint</li>
    </ul>

    <aside class="notes">
        <ul>
            <li>
                If your base class threw ArgumentNullException then your sub classes were only allowed to throw
                exceptions of type ArgumentNullException or any exceptions derived from ArgumentNullException. Throwing
                IndexOutOfRangeException is a violation of Liskov.
            </li>
            <li>Assume your base class works with a member int. Now your sub-type requires that int to be positive.</li>
            <li>
                Assume your base class required all connections to database should be closed before the method returned.
                In your sub-class you overrode that method and leaved connection open for further reuse. You have
                weakened the post-conditions of that method.
            </li>
            <li>If properties has certain constraints, these constraints need to hold in the subtype.</li>
            <li>
                The history constraint rules that an extending class must not expose methods that modify fields in an
                object if the parent class does not expose such methods (for those fields).
            </li>
        </ul>
    </aside>
</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    class Person {
        void walkNorth(int meters) {...}
        void walkEast(int meters) {...}
    }
    </code></pre>

</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    class Prisoner extends Person {
        void walkNorth(int meters) {...}
        void walkEast(int meters) {...}
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>
                Also obviously, this leads to trouble, since a prisoner is not free to move an arbitrary
                distance in any direction, yet the contract of the Person class states that a Person can.
            </li>
        </ul>
    </aside>
</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <p>The implementation of the derived classes may not be known for the code consumer</p>
    <p>If you need to add some restriction in an overridden method and that restriction doesn't exist in baseline
        implementation, you violate Liskov Substitution Principle.</p>
</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public interface CustomerRepository {
        Optional&lt;Customer&gt; find(int customerId);
        void save(Customer customer);
    }
    </code></pre>

</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    public class PostgresCustomerRepository {
        public Optional&lt;Customer&gt; find(int customerId) { ... }

        public void save(Customer customer) {
            if (this.find(customer.id).isPresent()) {
                throw new RuntimeException(
                            "customer already exists");
            }

            // save customer in database
        }
    }
    </code></pre>

</section>

<section>
    <h2>Liskov Substitution Principle</h2>

    <p>
        Due to liskov substitution violations, the code that uses your type will have to have explicit knowledge of
        the internal workings of derived types to treat them differently. This tightly couples code and just
        generally makes the implementation harder to use consistently.
    </p>
</section>

<section>
    <h2>Interface segregation principle</h2>

    <p>
        In the field of software engineering, the interface-segregation principle (ISP) states
        that no client should be forced to depend on methods it does not use.[1] ISP splits
        interfaces that are very large into smaller and more specific ones so
        that clients will only have to know about the methods that are of interest to them.
    </p>

</section>

<section>
    <h2>Interface segregation principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape>
    interface OrderService {
        void orderBurger(int quantity);
        void orderFries(int fries);
        void orderCombo(int quantity, int fries);
    }
    </code></pre>

</section>

<section>
    <h4>Interface segregation principle</h4>

    <pre style="height: 500px" class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    class BurgerOrderService implements OrderService {
        @Override
        public void orderBurger(int quantity) {
            System.out.println(
                         "Received order of " + quantity);
        }

        @Override
        public void orderFries(int fries) {
            throw new UnsupportedOperationException(
                        "No fries in burger only order");
        }

        @Override
        public void orderCombo(int quantity, int fries) {
            throw new UnsupportedOperationException(
                        "No combo in burger only order");
        }
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>The issue here is that the interface is too big, which results in that the BurgerOrderService cannot
                implement all the methods.</li>
            <li>Maintenance becomes harder because of side effects: a change in an interface forces us to change classes
                that don’t implement the interface.</li>
        </ul>
    </aside>
</section>

<section>
    <h2>Interface segregation principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    interface BurgerOrderService {
        void orderBurger(int quantity);
    }

    interface FriesOrderService {
        void orderFries(int fries);
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>Clients will only have to know about the methods that are of interest to them.</li>
            <li>ISP is intended to keep a system decoupled and thus easier to refactor, change, and redeploy. </li>
        </ul>
    </aside>
</section>

<section>
    <h2>Dependency inversion principle</h2>

    <p>
        In object-oriented design, the dependency inversion principle is a specific form of decoupling software modules.
        When following this principle, the conventional dependency relationships established from high-level,
        policy-setting modules to low-level, dependency modules are reversed, thus rendering high-level modules
        independent of the low-level module implementation details. The principle states:
    </p>

</section>

<section>
    <h2>Dependency inversion principle</h2>

    <ul>
        <li class="fragment fade-in">High-level modules should not depend on low-level modules. Both should depend on
            abstractions (e.g. interfaces).</li>
        <li class="fragment fade-in">Abstractions should not depend on details. Details (concrete implementations)
            should depend on abstractions.</li>
    </ul>

</section>

<section>
    <h2>Dependency inversion principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    public class CoffeeMachine {
        public void makeCoffee() {
            System.out.println("Making coffee");
        }
    }
    </code></pre>
</section>

<section>
    <h2>Dependency inversion principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    public class CoffeeApp {
        private CoffeeMachine coffeeMachine;

        public CoffeeApp(CoffeeMachine coffeeMachine) {
            this.coffeeMachine = coffeeMachine;
        }

        public void run() { ... }
    }
    </code></pre>

</section>

<section>
    <h2>Dependency inversion principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    public interface CoffeeMachine {
        void makeCoffee();
    }
    </code></pre>

</section>

<section>
    <h2>Dependency inversion principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape="">
    public class FilterCoffeeMachine
          implements CoffeeMachine {

        public void makeCoffee() {
            System.out.println(
                         "Making delicious filter coffee");
        }
    }
    </code></pre>

</section>

<section>
    <h2>Dependency inversion principle</h2>

    <pre class="fragment fade-in"><code class="language-java hljs" data-noescape class="language-java hljs">
    public class CoffeeApp {
        private CoffeeMachine coffeeMachine;

        public CoffeeApp(CoffeeMachine coffeeMachine) {
            this.coffeeMachine = coffeeMachine;
        }

        public void run() { ... }
    }
    </code></pre>

    <aside class="notes">
        <ul>
            <li>This is actually super important for testing. Since we work against an abstraction now instead of a
                concrete interface.</li>
            <li>We can now supply a dummy implementation. This technique is very important for handling side effects
                like database calls./</li>
            <li>In production code we provide the class that does the actual call and in the tests we can provide a mock
                / dummy implementation.</li>
        </ul>
    </aside>
</section>

<section>
    <h4>Bottom line</h4>
    <p>These principles are intended to:</p>
    <p><b>Decrease coupling and increasing cohesion</b></p>
</section>